@import 'styles/variables/index';

.wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  height: fit-content;
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: $boxShadow;

  .filtersWrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
  }

  .clearButton {
    margin-left: auto;
    background: none;
    border: none;
    color: $primary-cyan;
    font-weight: $bold-weight;
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }
  }
}