@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
// FONT-FAMILY
$primary-font: 'League Spartan', sans-serif;

// FONT SIZES
$default-size: 15px; 

// FONT WEIGHTS
$medium-weight: 500;
$bold-weight: 700;