@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('.ttf');
}

// FONT-FAMILY
$primary-font: 'League Spartan', sans-serif;

// FONT SIZES
$small-size: 12px;
$default-size: 15px; 

// FONT WEIGHTS
$medium-weight: 500;
$bold-weight: 700;