@import './../../../styles/variables/index';
// TODO: fix imports path

.wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: fit-content;
}