@import './../../../styles/variables/index';

.filter {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-weight: $bold-weight;
  background-color: $light-grayish-filter;
  color: $primary-cyan;
  cursor: pointer;

  &:hover {
    background-color: $primary-cyan;
    color: $light-grayish-filter;
  }
}